Meta
doc
inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
/doc/
/Meta/
_site
LICENSE
FishSET.Rproj
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
tests/testthat/testdata/*.pdf
tests/testthat/testdata/FishSETFolder/s1/output/*.csv
tests/testthat/testdata/FishSETFolder/s1/output/*.png
