 body { margin:0; padding:0; }
#map {
  width: 80vw;
    height: 100vh;

    }



#allinfo {
    box-sizing: border-box;
    width: 20vw;
    height: 100vh;
    right: 0;
    overflow-y: scroll;
    border:2px solid black;
    flex-shrink: 1;

}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.map-overlay-outer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
  top: 30px;
  left: 10px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  z-index: 1;
  font: 15px arial, sans-serif;
}
*/
.map-overlay {

  position: absolute;
  width: 280px;
  top: 0;
  left: 10px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  z-index: 1;
  font: 15px arial, sans-serif;
   height:80vh;

}

.map-overlay .map-overlay-inner {
  background: rgba(10, 10, 10, .2);
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 1;

}

.spacing{
  margin:5px;
}
.spacing2{
  box-sizing: border-box;
  bottom: 0;
  width:80vw;

  padding: 5px;
  position: absolute;
  background: rgba(10, 10, 10, .2);
  }

#info {
  margin-right: 10px;
  text-align: right;
  right: 20vw;
  left: 10px;
  font: 15px arial, sans-serif;
  border: none;
  font-size: 12px;
  color: #222;
  background: none;
  height:auto;
  position: absolute;
  z-index: 1;

}
.scatterLegend, .zoneLegend{
background-color: transparent;
border-radius: 3px;
margin: 10px;
box-shadow: 0 1px 2px rgba(0,0,0,0.10);
font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 10px;
right: 10px;
z-index: 1;
height: 150px;
overflow: auto !important;
}

svg {
font-size: 13px;


}

.legendQuant{
  width:200px;
}

.bar {

border-radius: 6px;

}



#viz  {

    border: none;
    width: 100%;
    height: 100%;
    width:100%;
    height: 100%;
    padding: 10px;
    border: none;
    z-index: 1;

}

#viz .barText {

fill: #f5faf8;

}

.axisY text, .axisX text, .headerText text{
fill: #0b3536;
}


.mapboxgl-popup-content{
  overflow: auto;
}

/*.column {
  float: left;


}


.column h4 {
color: #111;
margin: 24px 0 -12px 20px;
}
*/


/*for toggle layers*/



