 body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }

#allinfo {
    width: 400px;
    height: 100vh;
    background-color: white;
    /* z-index: 1; */
    position: absolute;
    /* float: right; */
    right: 0;
    overflow-y: scroll;
}

.map-overlay {
  position: absolute;
  width: 280px;
  top: 0;
  left: 10px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  z-index: 1;
  font: 15px arial, sans-serif;
}

.map-overlay .map-overlay-inner {
  background: rgba(10, 10, 10, .2);
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 1;
}

.spacing{
  margin:5px;
}

#info {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: none;
  bottom: 0;
}
.scatterLegend, .zoneLegend{{
background-color: #fff;
border-radius: 3px;
margin: 10px;
box-shadow: 0 1px 2px rgba(0,0,0,0.10);
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 10px;
right: 10px;
z-index: 1;
}
svg {
height: 200px;
width: 200px;
font-size: 13px;

}

.bar {
border: 1px solid #0b3536;
border-radius: 6px;
fill: #0098d8;
}

#viz {
margin-top: 100px;
}

#viz .barText {

fill: #f5faf8;

}

.axisY text, .axisX text, .headerText text{
fill: #0b3536;
}




.column {
float: left;
overflow: scroll;

}


.column h4 {
color: #111;
margin: 24px 0 -12px 20px;
}




